* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    transition: .5s;
}
 
.header {
    background-image: url(../images/brick.png);
    background-blend-mode: multiply;
    padding: 0 40px;
    background-color: #313131;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 52px ;
    height: 52px ;
    background-color: #EC7F00;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
.toggle.active {
    background-color: #313131;
    

}
.toggle.active::before {
    transform: translateY(10px) rotate(-45deg);
    transition: .2s;
    box-shadow: 0 0 0 #fff;
 
}
.toggle.active::after {
  
   transform: translateY(-10px) rotate(45deg);
    transition: .2;
}

.toggle::before {
    box-shadow: 0 10px 0 #fff;
    content: '';
    position: absolute;
    width: 30px;
    top: 15px;
    left: 11px;
 height: 2px;
 background-color: #fff;

 transition: .2s;
}
.toggle::after {
    bottom: 15px;
    left: 11px;
   
    content: '';
    position: absolute;
    width: 30px;
 height: 2px;
 background-color: #fff;
 transition: .2s;
}
.list {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: '500';
    font-size: 20px;
    line-height: 24px;
   gap: 76px;
   margin-top: 64px;
   padding-left: 15px;
}
.list a {
    color: #EC7F00;
    transition: .5s;
}
.list a:hover {
    color: rgb(255, 255, 255);
}


.upper_header {
    padding-top: 30px;
    width: 55%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application {
    font-family: '500';
    color: white !important;
    font-size: 20px;
    line-height: 24px;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EC7F00;
    border-radius: 20px;
    transition: .5s;
}
.application:hover {
    background-color:  white;
    color: #EC7F00 !important;
}

.header_bottom-info a {
    margin-top: 86px;
}


.header_bottom-info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_bottom-title {
font-size: 68px;
line-height: 83px;
font-family: '900';
color: white;
margin-bottom: 21px;
}

.header_bottom-text {
font-size: 20px;
line-height: 24px;
color: white;
font-family: '600';
width: 325px;
}

.header_bottom {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    
}

.header_bottom-img {
    width: 60%;
}


.header_bottom-img img {
    width: 100%;
}

.preloader {
    width: 100%;
    height: 100%;
    background-color: #313131;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: .5s;
    z-index: 100;
}

.toddler_box {
    width: 412px;
    background-color: #C4C4C4;
    height: 10px;
    margin-top:  35px;
    overflow: hidden;
}
.toddler {
    height: 100%;
    background-color: #EC7F00;
    transform: translateX(-100%) ;
    transition: 7s;
}

.modal_window {
   
    display: flex;
    height: 748px;
    width: 870px;
    background-color: #fff;
}
.modal {
    
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: #0000009b;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.modal_left {
    background-color: #313131;
    background-image: url(../images/popup-brick.png);
    background-blend-mode: multiply;
    width: 41.5%;
    height: 100%;
    background-repeat: no-repeat;
    padding: 40px;
   
}
.modal_left img {
 margin-top: 222px;
}

.modal_text {
    font-family: '600';
    font-size: 15px;
    color: white;
    margin-top: 350px;
}

.modal_right {
    padding-top: 54px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.modal_right img {
    margin-bottom: 45px;
}


.modal_right input {
    width: 100%;
    margin-bottom: 23px;
    height: 42px;
    border: 3px solid #A6A4A4;
}
::-webkit-input-placeholder{
    color: #C4C4C4;
    font-size: 16px;
    font-family: '500';
}

input {
    font-size: 18px;
    font-family: '600';
    padding-left: 15px;
    color:  #EC7F00;
}

.forma {
    width: 90%;

}

input:nth-of-type(4) {
    height: 77px;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #A6A4A4;
  margin-right: 10px;
}

.privacy {
    display: flex;
   
    
}
.tick {
   opacity: 0;
}

.privacy_text {
    font-family: '500';
    font-size: 17px;
    color: #EC7F00;
   
}

.privacy_text:hover {
   border-bottom: 1px solid #EC7F00;
}
.popup_app {
    font-family: '500';
    color: white !important;
    font-size: 20px;
    line-height: 24px;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EC7F00;
    border-radius: 20px;
    transition: .5s;
    margin: 0 auto;
    margin-top: 30px;
}


.insta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
   
}

.insta img {
    margin: 0;
    margin-right: 20px;
}

.insta p, .adress {
    color: #2D2D2D;
    font-size: 15px;
    font-family: '600';
    text-align: center;
}

.adress {
    margin-top: 15px;
}
.adress a {
    color: black;
}

.modal2 {
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: #0000009b;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.modal2_img {
    margin-top: 110px;
    margin-bottom: 69px !important;
}

.modal2_text {
    color: #2D2D2D;
    font-family: '500';
    font-size: 20px;
    text-align: center;
    width: 75.8%;
}
.modal2_thank {
    width: 159px;
    color: #2D2D2D;
    font-family: '500';
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 218px;
}

.about_sec {
    overflow: hidden;
    margin-top: 120px;
    transition: 5s;
    padding: 0 30px;
}

.about_list li::before {
   content: '';
   width: 7px;
   height: 7px;
   background-color: #EC7F00;
   border-radius: 50%;
   margin-right: 10px;
}

.about_list li {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    font-family: '600';
    color: #000000;
    margin-bottom: 15px;
}

.about_list {
    list-style: none;
}


.about_box {
    align-items: center;
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
}

.about_title {
    opacity: 0;
    transform: translateY(-100%) scale(0);
    font-size: 68px;
    line-height: 83px;
    font-family: '900';
    color: #EC7F00;
    text-align: center;
    transition: 1.5s;
}

.about_text {
    font-size: 20px;
    line-height: 24px;
    font-family: '600';
    color: #000000;
    width: 100%;
}

.about_info {
    width: 50% !important;
    transform: translateX(-150%);
    transition: 1.5s;
    opacity: 0;
}
.about_img {
    opacity: 0;
    transform: translateX(150%);
    transition: 1.5s;
}

.about_difficulties {
    font-size: 20px;
    line-height: 24px;
    font-family: '600';
    color: #000000;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.catalog_title {
    font-size: 68px;
    line-height: 83px;
    font-family: '900';
    color: #EC7F00;
    text-align: center;
    transition: 2s;
}


#catalog {
    overflow: hidden;
    margin-top: 120px;
} 
.home_info {
    margin-top: 42px !important;
    width: 50%;
    margin: 0 auto;
    transition: 1.5s;
    opacity: 0;
}
.home_info img {
    width: 100%;
}

.home_text {
    font-size: 20px;
    line-height: 24px;
    font-family: '600';
    color: #000000;
    width: 73.86%;
    margin: 0 auto;
    text-align: center;
}


.home_box {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin-top: 50px;
}
.home_item {
 transition: .5s;
 border-bottom-left-radius: 70px;

}

.home_item:hover {
    background-color: #EC7F00;

}

.home_img {
    border-top: 6px solid #EC7F00;
    border-left: 6px solid #EC7F00;
    transition: .5s;
    border-bottom-left-radius: 70px;

}
.home_item:hover .home_img {
    box-shadow: 15px 15px 5px rgba(151, 8, 8, 0.507);
    transform: translate(-25px, -21px);
}

.home_item-name {
    font-size: 36px;
    font-family: '600';
    text-align: center;
    color: #2D2D2D;
    margin-top: 23px;
    transition: .5s;
}

.home_item-name:hover {
    color: #EC7F00;
 
}

.more_home {
    width: 210px;
    height: 60px;
    background-color: #EC7F00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 36px;
    font-family: '700';
    font-size: 20px;
    transition: .4s;
}

.more_home:hover {
    background-color: #fff;
color: #EC7F00;
}


.home1, .bus1, .bus4 {
    transform: translateX(-150%);
    transition: 1.5s;
    opacity: 0;
}
.home3, .bus3, .bus5{
    transform: translateX(150%);
    transition: 1.5s;
    opacity: 0;
}
.home2 , .bus2{
    transform: scale(0);
    transition: 1.5s;
    opacity: 0;
}

.bus_info {
    margin-top: 42px !important;
    width: 50%;
    margin: 0 auto;
    transition: 1.5s;
    opacity: 0;
}

.bus_info img {
    width: 100%;
}
.forBus {
    margin-top: 85px;
}
.business_box {
    margin-top: 85px;
}

.business_box {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin-top: 50px;
}

 .business_box2 {
    display: flex;
    justify-content: center;
    padding: 0 60px;
    margin-top: 100px;
    gap: 92px;
 }


 .bus_home {
    width: 210px;
    height: 60px;
    background-color: #EC7F00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 36px;
    font-family: '700';
    font-size: 20px;
    transition: .4s;
}

.bus_home:hover {
    background-color: #fff;
color: #EC7F00;
}


.hometit {
    background-color: rgba(184, 184, 184, 0.287);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(219, 219, 219, 0.4);
}

.catalogSec p {
    margin-top: 20px;
}

.home_card {
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    width: 1440px;
    background-color: #fff;
    transform: translateX(-150%);
    position: absolute;
    top: 0;
    left: 0;
   transition: 1s;
}


.card-item_title {
   width: 200px;
    font-size: 20px;
    line-height: 24px;
    font-family: '600';
}


.card-items {
    
    gap: 30px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

.forHome {
    transition: 1s;
   

}


.benefitsSec{
    margin-top: 120px;
    overflow: hidden;
    
}

.benefit_title {
    font-size: 68px;
    line-height: 83px;
    font-family: '900';
    color: #EC7F00;
    text-align: center;
    transition: 2s;
}

.benefits_box {
    display: flex;
}

.benefits_item {
    width: 318px;
}
.benefit_info {
    padding: 44px;
    background-color: #E9E9E9;
    transition: 1s;
}

.benefits_box img {
    width: 318px;
    height: 210px;
}

.benefits_box {
    gap: 30px;
    justify-content: center;
    margin-top: 65px;
}

.benefit_items  {
   margin-bottom: 30px;
}

.benefits_title {
    font-size: 20px;
    line-height: 24px;
    font-family: '700';
    color: #2D2D2D;
    transition: 1s;
}

.benefits_text {
    transition: 1s;
    font-size: 20px;
    line-height: 24px;
    font-family: '500';
    color: #2D2D2D;
    margin-top: 20px;
}


.b1 {
    transform: translate(-200%, -200%);
    transition: 2s;
}
.b2 {
    transform: translate(-200%, 200%);
    transition: 2s;
}

.b3 {
    transform: translate(-400%,-300%);
    transition: 2s;
    
}
.b4 {
    transform: translate(-400%,300%);
    transition: 2s;
    
}


.b5 {
    transform: translate(400%,-300%);
    transition: 2s;
    
}
.b6 {
    transform: translate(400%,300%);
    transition: 2s;
    
}
.b7 {
    transition: 2s;
    transform: translate(200% , -200%);
}
.b8 {
    transform: translate(200% , 200%);
    transition: 2s;
}

.work_items {
    display: flex;
    gap: 70px;
}
.work_items p {
    font-size: 20px;
    line-height: 24px;
    font-family: '700';
    color: #2D2D2D;
    transition: 1s;
    width: 173px;
    text-align: center;
}
.how-work{
    margin-top: 120px;
}
.work_box {
    gap: 60px;
    margin-top: 120px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.work_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: 1s;
}

.wi2 {
    transform: translateY(-70px);
}

.wi4 {
    transform: translateY(-70px);
}

.wi7 {
    transform: translateY(70px);
}
.wi9 {
    transform: translateY(70px);
}

.work_app {
    margin: 0 auto;
    margin-top: 120px !important;
}

.contacts_title {
    font-size: 68px;
    line-height: 83px;
    font-family: '900';
    color: #EC7F00;
    text-align: center;
    transition: 2s;
}

.contactsSec {
    margin-top: 120px;
    overflow: hidden;
}
.contacts_box {
    justify-content: space-between;
    padding: 40px;
    display: flex;
    align-items: center;
}

.contactsSec p {
    font-size: 18px;
    line-height: 24px;
    font-family: '500';
    color: #2D2D2D;
    margin-bottom: 15px;
}
.contactsSec h4 {
    font-size: 20px;
    line-height: 24px;
    font-family: '700';
    color: #2D2D2D;
}
.contacts_map {
    width: 60%;
    height: 450px;
    opacity: 0;
    transition: 2s;
}

.contacts_info {
    transform: translateX(-200%);
    transition: 2s;
}

.footer_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_list {
    display: flex;
    list-style: none;
   gap: 60px;
}


footer {
    background-color: #313131;
    padding: 30px;
} 
.footer_list a {
font-size: 20px;
line-height: 24px;
font-family: '600';
color: white;
transition: .5s;
}

.footer_list a:hover {
    color: #EC7F00;
}

.footer_box h4 {
    font-family: '700';
    font-size: 30px;
    color: #EC7F00;
    text-align: center;
}
